*{
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #1a1244;
  padding: 15px 50px;
  border-bottom: 4px solid #401e63;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin: 10px 5px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.5s;
  
} 
nav ul li a:hover{
  background-color: black;
  color: red;
  border-radius: 5px;
}
nav div{
  color: white;
  font-size: 20px;
}
/* header */
header{
  background-image: url('multi-img/OR0.jpg');
  padding: 200px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.search-icon-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon-parent i {
  color: red;
  background-color: green;
  font-size: 30px;
  height: 45px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: -10px;
}
.search-icon-parent input{
  width: 600px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 20px;
}
/* main */
main{
  background-color: #401e63;
  padding-top: 20px;
}
.p{
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}
.p1{
  display: flex;
  justify-content: space-between;
}
.Latest{
  font-size: 25px;
  color: #04aa6d;
  font-weight: bold;
}
.page{
  color: #04aa6d;
}
.page span{
  color: black;
  background-color: antiquewhite;
  border: 1px solid #8080805b;
  padding: 5px;
  border-radius: 4px;
  margin: 0 10px;
  cursor: pointer;
}


.single-item-p{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 20px;
  margin-top: 25px;
}
.single-item{
  height: 250px;
  border: 3px solid grey;
}
.single-item img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.single-item:hover img{
  transform: scale(1.1);
}
.single-item div{
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-top: 10px;
}